@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Saira+Stencil+One&family=Source+Code+Pro:wght@500&display=swap');

* {
    scroll-behavior: smooth;
}

html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: Quicksand;
    line-height: 2rem;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    color: #fff;
    background: #09f;
}

::-moz-selection {
    color: #fff;
    background: #09f;
}

hr {
    border-color: #fff7;
}

a {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

#align {
    margin: 120px 5% 60px 5%;
    color: #555;
}

#progressBar {
    position: fixed;
    top: 100px;
    height: 2px;
    width: 0%;
    background: #05f;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 140, 255, 1);
}

#cookieBar {
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(30deg, #8197a6, 0%, #5c788a 50%, #5c788a 50%, #5a6770 100%);
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    line-height: normal;
}

#cookieText {
    background: transparent;
    color: #fff;
    font-family: 'Ubuntu';
    padding: 0 30px;
    font-size: 1rem;
}

#cookieButton {
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    font-family: 'Ubuntu';
    padding: 0 30px;
    font-size: 1rem;
}

div#cookieButton {
    height: 0;
    margin: 0 20px;
    position: relative;
    padding: 15px 15px;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    overflow: hidden;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#cookieButton:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}

div#cookieButton:after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: 0.5s;
    transition-delay: 0.5s;
}

div#cookieButton:hover:after {
    left: 100%;
}

div#cookieButton span {
    position: absolute;
    display: block;
    transition: 0.5s ease;
}

div#cookieButton span:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
}

div#cookieButton:hover span:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
}

div#cookieButton span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 0;
    height: 1px;
    background: #fff;
}

div#cookieButton:hover span:nth-child(3) {
    width: 100%;
    transform: translateX(-100%);
}

div#cookieButton span:nth-child(2) {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
}

div#cookieButton:hover span:nth-child(2) {
    height: 100%;
    transform: translateY(100%);
}

div#cookieButton span:nth-child(4) {
    bottom: 0;
    right: 0;
    width: 1px;
    height: 0;
    background: #fff;
}

div#cookieButton:hover span:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
}

ul.topnav {
    left: 0;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 #00000070;
    font-family: 'Quicksand';
}

ul.topnav .x {
    background: #fff;
    margin-left: 2.5%;
    margin-right: 2.5%;
    z-index: 3;
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

ul.topnav .x li {
    float: right;
    display: flex;
}

ul.topnav .x img {
    height: 100px;
    width: auto;
    float: left;
}

ul.topnav .x li a {
    height: 10px;
    background-color: #fff;
    display: flex;
    color: #333;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    transition: 0.3s;
    align-items: center;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


ul.topnav .x li a:hover:not(.active) {
    background-color: #2b2b2b;
    /*background-color: #092a49;*/
    box-shadow: 0px 5px 5px #0007;
    color: #fff;
}

ul.topnav .x li a.active {
    background-color: #dcdcdc;
}

#footer {
    margin: 0;
    bottom: 0;
    background-color: #151515;
    color: #888;
    font-weight: bold;
    text-align: center;
    padding: 2vh 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Ubuntu';
}

#footerHeading {
    color: #eee;
}

h1:not(#footerHeading)::selection {
    color: #333;
    background: transparent;
}

h1:not(#footerHeading)::-moz-selection {
    color: #333;
    background: transparent;
}

h2::selection {
    color: inherit;
    background: transparent;
}

h2::-moz-selection {
    color: inherit;
    background: transparent;
}

h1#footerHeading::selection {
    color: #eee;
    background: transparent;
}

h1#footerHeading::-moz-selection {
    color: #eee;
    background: transparent;
}

#points::before {
    content: "\2022";
    color: #07f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.tutorialContent {
    column-count: 2;
}

.points {
    list-style-type: none;
}

.points li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
}

.points .subdiv::before {
    content: "\2022";
    color: #08f;
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: 0;
}

.link {
    color: #07f;
    text-decoration: none;
    border-bottom: thin solid #07f;
}

abbr {
    text-decoration: none;
    border-bottom: thin solid #555;
    cursor: pointer;
}

underline {
    border-bottom: thin solid #555;
}

table {
    border: thin solid #dcdcdc;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}

td,
th {
    border: thin solid #dcdcdc;
    text-align: left;
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background-color: #09f;
    color: #fff;
}

tr:nth-child(odd) td {
    border-color: #09f;
}

th {
    text-align: center;
    background: #555;
    border: thin solid #555;
}

.secLink {
    position: relative;
    top: -110px;
}
table *::selection {
    color: inherit;
    background: transparent;
}
table *::-moz-selection {
    color: inherit;
    background: transparent;
}
h2 {
    background: #555;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

img::selection {
    background: transparent;
}

.code {
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    border-left: 5px solid #00a500;
    box-sizing: border-box;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Source Code Pro';
    color: #000;
    letter-spacing: 1px;
    line-height: normal;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;  
    break-inside: avoid-column;
}

.code::-webkit-scrollbar {
    display: none;
}

.code::selection {
    background: black;
    color: white;
}

.code *::selection {
    background: black;
    color: white;
}

.note {
    background-color: #f5f5f5;
    padding: 20px;
    border-left: 5px solid #0004;
    word-wrap: break-word;
}

.note::before {
    content: "NOTE : ";
}

#sharePDF {
    padding: 16px 32px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0px 1px 15px #0007;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sharePDF:hover {
    background-color: #09f;
    color: #fff;
    box-shadow: none;
}

#sharePDF i {
    font-size: 2.5rem;
}

#sharePDF span {
    margin-left: 1rem;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 0.8rem;
    }

    #align {
        margin: 60px 5%;
    }

    ul.topnav .x {
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
        height: 55px;
    }

    ul.topnav .x li a {
        font-size: 0.6rem;
        padding: 10px 5px;
        height: 100%;
    }

    ul.topnav .x img {
        height: 55px;
    }

    #progressBar {
        top: 55px;
        box-shadow: 0 2px 5px rgba(0, 140, 255, .75);
    }

    #contactFormButton {
        font-size: 1rem;
        padding: 15px 10vw;
    }

    .tutorialContent {
        column-count: 1;
    }

    .secLink {
        top: -60px;
    }

    .code {
        width: 95%
    }
}