* {
		background-color: #000;
    		font-family: 'Lobster', ;
    		font-family: 'Fira Code', ;
		
}

/* For Laptop*/

	hr.new5 {
  		border: 2px solid white;
  		border-radius: 5px;
	}

	#quote {
		font-family: 'Lobster', ;
    		font-family: 'Fira Code', ;
		text-align: center;
	}
	
	#intro {
		margin:20px;
		font-family: 'Lobster', ;
    		font-family: 'Fira Code', ;
	}

	.btn {
		border-radius: 10px;
		border: 3px solid #f44336;
		background-color: none;
		color: white;
		padding: 10px 50px;
		text-align: center;
		transition: 0.3s;
		font-size: 25px;
	}

	.btn:hover {
		border: 3px solid #f44336;
		border-radius: 10px;
		background-color: #f44336;
		color: #ffffff;
		cursor: pointer;
		padding: 10px 50px;
		text-align: center;
		font-size: 25px;
	}

	.btn1 {
		border-radius: 20px;
		border: 3px solid #f44336;
		background-color: #f44336;
		color: white;
		padding: 10px 50px;
		text-align: center;
		transition: 0.3s;
		font-size: 25px;
	}

	.btn1:hover {
		border: 3px solid #777;
		border-radius: 20px;
		background-color: #777;
		color: #fff;
		cursor: pointer;
		padding: 10px 50px;
		text-align: center;
		font-size: 25px;
	}
}

@media screen and (max-width: 600px) {
	hr.new5 {
  		border: 2px solid white;
  		border-radius: 5px;
	}

	#quote {
		font-family: 'Lobster', ;
    		font-family: 'Fira Code', ;
		text-align: center;
	}
	
	#intro {
		margin:20px;
		font-family: 'Lobster', ;
    		font-family: 'Fira Code', ;
	}

	.btn {
		border-radius: 10px;
		border: 3px solid #f44336;
		background-color: none;
		color: white;
		padding: 10px 50px;
		text-align: center;
		transition: 0.3s;
		font-size: 25px;
	}

	.btn:hover {
		border: 3px solid #f44336;
		border-radius: 10px;
		background-color: #f44336;
		color: #ffffff;
		cursor: pointer;
		padding: 10px 50px;
		text-align: center;
		font-size: 25px;
	}

	.btn1 {
		border-radius: 20px;
		border: 3px solid #f44336;
		background-color: #f44336;
		color: white;
		padding: 10px 50px;
		text-align: center;
		transition: 0.3s;
		font-size: 25px;
	}

	.btn1:hover {
		border: 3px solid #777;
		border-radius: 20px;
		background-color: #777;
		color: #fff;
		cursor: pointer;
		padding: 10px 50px;
		text-align: center;
		font-size: 25px;
	}
}
