* {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: 'Quicksand';
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
a {
	-webkit-tap-highlight-color: transparent;
}
ul.topnav {
	left: 0;
 	top: 0;
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	position: fixed;
 	z-index: 1;
 	width: 100%;
 	overflow: hidden;
 	background-color: #fff;
 	box-shadow: 0 5px 15px 0 #00000070;
}
ul.topnav .x {
	background: #fff;
	margin-left: 2.5%;
	margin-right: 2.5%;
	z-index: 3;
	height: 100px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
ul.topnav .x li {
	float: right;
}
ul.topnav .x img {
	border-radius: 50%;
	height: 100px;
	width: auto;
	float: left;
}
ul.topnav .x li a {
	height: 10px;
 	background-color: #fff;
 	display: flex;
 	color: #333;
 	text-align: center;
 	padding: 16px 16px;
 	text-decoration: none;
 	transition: 0.3s;
 	align-items: center;
}
ul.topnav .x li a:hover:not(.active) {
	background-color: #092a49;
	color: #fff;
}
ul.topnav .x li a.active {
	background-color: #dcdcdc;
}
#align {
	margin-top: 100px;
	width: 40%;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	display: flex;
	flex-direction: column;
}
#link {
	color: #07f;
	transition: 0.1s;
	border-bottom: 2px solid #fff;
}
#link:hover {
	border-bottom: 2px solid #07f;
}
#field {
	width: 100%;
	padding: 5px;
	outline: 0;
	border: 0;
	border-bottom: 1px solid #555;
	transition: 0.2s;
}
#field:hover {
	border-bottom: 1px solid #07f;
}
#signUp {
	width: 100%;
	margin-top: 50px;
	background-color: #027fff;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 1.25rem;
	padding: 10px 20px;
	border: 0;
	outline: 0;
	transition: 0.2s;
}
#signUp:hover {
	background-color: #000;
}
@media screen and (max-width: 768px) {
	ul.topnav .x {
  		margin-left: 5%;
  		margin-right: 5%;
  		width: auto;
  		height: 55px;
  	}
  	ul.topnav .x li a {
   		font-size: 0.6rem;
   		padding: 10px 5px;
   		height: 100%;
  	}
  	ul.topnav .x img {
  		height: 55px;
  	}
  	#box {
  		top: 60px;
  		margin: 0 15px;
  	}
}