@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Saira+Stencil+One&family=Source+Code+Pro:wght@500&display=swap');
* {
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#align_right {
	text-align: right;
}

	/*	For Destop	*/

	body {
		margin: 0;
		font-family: Quicksand;
	}

	body::-webkit-scrollbar {
    	display: none;
	}

	html {
		font-size: 100%;
	}

	p {
		word-wrap: break-word;
	}

	#image {
		border: 7px solid white;
		padding: 20px;
		overflow: hidden;
	}

	.responsive {
		max-width: 100%;
		height: auto;
	}

	#align {
		background-color: #fff;
		margin: 120px 20%;
	}

	::selection {
  		color: #fff;
  		background: #09f;
	}

	::-moz-selection {
  		color: #fff;
  		background: #09f;
	}

	body::-webkit-scrollbar {
    	display: none;
	}
	a {
		text-decoration: none;
	}
	#cookieBar {
		height: 100px;
		position: fixed;
		width: 100%;
		bottom: 0;
		left: 0;
		background: linear-gradient(30deg, #8197a6, 0%, #5c788a 50%, #5c788a 50%, #5a6770 100%);
		display: none;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
	}
	#cookieText {
		background: transparent;
		color: #fff;
		font-family: 'Ubuntu';
		padding: 0 30px;
		font-size: 1rem;
	}
	#cookieButton {
		-webkit-tap-highlight-color: transparent;
		color: #fff;
		font-family: 'Ubuntu';
		padding: 0 30px;
		font-size: 1rem;
	}
	div#cookieButton {
		height: 0;
		margin: 0 20px;
		position: relative;
		padding: 15px 15px;
		color: #fff;
		font-size: 1.5rem;
		text-transform: uppercase;
		font-family: 'Ubuntu';
		overflow: hidden;
		background: rgba(255, 255, 255, .1);
		box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	div#cookieButton:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: rgba(255, 255, 255, .1);
	}
	div#cookieButton:after {
		content: '';
		position: absolute;
		top: 0;
		left:-100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
		transition: 0.5s;
		transition-delay: 0.5s;
	}
	div#cookieButton:hover:after {
		left: 100%;
	}
	div#cookieButton span {
		position: absolute;
		display: block;
		transition: 0.5s ease;
	}
	div#cookieButton span:nth-child(1) {
		top: 0;
		left: 0;
		width: 0;
		height: 1px;
		background: #fff;
	}
	div#cookieButton:hover span:nth-child(1) {
		width: 100%;
		transform: translateX(100%);
	}
	div#cookieButton span:nth-child(3) {
		bottom: 0;
		right: 0;
		width: 0;
		height: 1px;
		background: #fff;
	}
	div#cookieButton:hover span:nth-child(3) {
		width: 100%;
		transform: translateX(-100%);
	}
	div#cookieButton span:nth-child(2) {
		top: 0;
		left: 0;
		width: 1px;
		height: 0;
		background: #fff;
	}
	div#cookieButton:hover span:nth-child(2) {
		height: 100%;
		transform: translateY(100%);
	}
	div#cookieButton span:nth-child(4) {
		bottom: 0;
		right: 0;
		width: 1px;
		height: 0;
		background: #fff;
	}
	div#cookieButton:hover span:nth-child(4) {
		height: 100%;
		transform: translateY(-100%);
	}
	ul.topnav {
		left: 0;
 		top: 0;
 		list-style-type: none;
 		margin: 0;
 		padding: 0;
 		position: fixed;
 		z-index: 1;
 		width: 100%;
 		overflow: hidden;
 		background-color: #fff;
 		box-shadow: 0 5px 15px 0 #00000070;
 		font-family: Quicksand;
	}
	ul.topnav .x {
		background: #fff;
		margin-left: 2.5%;
		margin-right: 2.5%;
		z-index: 3;
		height: 100px;
		width: 95%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	ul.topnav .x li {
		float: right;
		display: flex;
	}
	ul.topnav .x img {
		height: 100px;
		width: auto;
		float: left;
	}
	ul.topnav .x li a {
		height: 10px;
 		background-color: #fff;
 		display: flex;
 		color: #333;
 		text-align: center;
 		padding: 16px 16px;
 		text-decoration: none;
 		transition: 0.3s;
 		align-items: center;
		outline: 0;
	}
	ul.topnav .x li a:hover:not(.active) {
		background-color: #092a49;
		color: #fff;
	}
	ul.topnav .x li a.active {
		background-color: #dcdcdc;
	}
	.btn {
		font-family: Quicksand;
		font-size: 20px;
		letter-spacing: 1px;
		color: #fff;
		background: #08f;
		padding: 20px;
		margin: 10px;
		border: 0;
		border-radius: 10px;
		transition: 0.3s;
		outline: 0;
		-webkit-tap-highlight-color: transparent;
		display: block;
	}
	.btn:hover {
		cursor: pointer;
		background: #2b2b2b;
		color: #fff;
	}

	.btn:hover span {
		border-bottom: thin solid white;
	}

	#tuts {
		background-color: #fff;
		display: flex;
		text-align: center;
		justify-content: space-around;
		flex-direction: row;
		-webkit-tap-highlight-color: transparent;
		flex-wrap: wrap;
	}
	
	#box {
		min-width: 200px;
		min-height: 300px;
		max-width: 200px;
		max-height: 300px;
		margin: 15px;
		position: relative;
		overflow: hidden;
		transition: 0.3s;
		-webkit-tap-highlight-color: transparent;
	}
	
	#box:hover {
		transform: scale(1.1);
		box-shadow: 0 10px 15px 0 #00000070;
		border: 0px solid black;
		cursor: pointer;
	}
	
	#imageHolder {
		width: 200px;
		height: 200px;
		position: absolute;
	}
	
	#boxText {
		color: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 35px 0 0 0;
		position: absolute;
		height: 100px;
		bottom: 0;
		word-break: break-word;
		width: 100%;
	}
	uline {
		border-bottom: thin solid black;
	}
	.points {
		list-style-type: none;
	}
	.points li::before {
		content: '\2022';
		color: red;
		font-weight: bold;
		display: inline-block;
		width: 1rem;
		margin-left: -1rem;
	}
	.points li {
		line-height: 2rem;
	}
@media screen and (max-width: 768px) {
	body {
    	font-size: 0.8rem;
  	}
  	.btn {
  		font-size: 12px;
  	}
  	#align {
    	margin: 40px 5%;
  	}
  	ul.topnav .x {
  		margin-left: 5%;
  		margin-right: 5%;
  		width: auto;
  		height: 55px;
  	}
  	ul.topnav .x li a {
   		font-size: 0.6rem;
   		padding: 10px 5px;
   		height: 100%;
  	}
  	ul.topnav .x img {
  		height: 55px;
  	}
}